
<div class = "conteiner d-flex justify-content-center h-500">

    <div class="container-fluid bolaDosCaras d-flex flex-column">
        <p class = "a">Conheça o Time</p>
        <p class = "thiago">Thiago Evangelista</p>
        <p>Full Stack Developer</p>
        <p class = "luccas">Luccas Henrick</p>
        <p>Full Stack Developer</p>
        <p class = "rafael">Rafael Parente</p>
        <p>Full Stack Developer</p>
        <p class = "denilson">Denilson Canqui</p>
        <p>Full Stack Developer</p>
        <p class = "raquel">Raquel Vilela</p>
        <p>Full Stack Developer</p>
</div>
    <div class="foto">
        <img src="../../assets/Ellipse 12.png" class="img-fluid membro" alt="Responsive image">
        <img src="../../assets/Ellipse 12.png" class="img-fluid membro" alt="Responsive image">
        <img src="../../assets/Ellipse 12.png" class="img-fluid membro" alt="Responsive image">
        <img src="../../assets/Ellipse 12.png" class="img-fluid membro" alt="Responsive image">
        <img src="../../assets/Ellipse 12.png" class="img-fluid membro" alt="Responsive image">
        <img src="../../assets/Ellipse 12.png" class="img-fluid membro" alt="Responsive image">
    </div>
</div>